.cover__subtitle {
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 360px;
    height: 66px;
}