.header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 28px auto 0 auto;
}

@media screen and (max-width: 425px) {
    .header{
        margin-top: 16px;
    }
}