.place__website_link {
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 456px;
    height: 22px;
    margin-top: 12px;
    margin-bottom: 22px;
}