.place__paragraph {
    color: #ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    width: 484px;
    height: 145px;
    margin-top: 26px;
}