.place__paragraph_mod {
    margin-top: -22px;
}

@media screen and (max-width: 768px) {
    .place__paragraph_mod {
        margin-top: -23px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph_mod {
        margin-top: -7px;
    }
}