.place__website_url-heading {
    color: #aaaaaa;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    width: 456px;
    height: 12px;
    margin-top: 198px;
}