.cover {
    width: 90%;
    margin: 92px auto 0 auto;
    position: relative;
}

.cover:hover .cover__background{
    opacity: 0.3;
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-top: 46px;
    }
}