.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    width: 100%;
    z-index: 0;
    opacity: 0.7;
    position: absolute;
}

.cover__background:hover {
    opacity: 0.3;
}