.footer {
    width: 95%;
    margin: 337px auto 24px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-top: 287px;
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 203px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        margin-top: 97px;
        flex-direction: column;
    }
}